<?xml version="1.0" encoding="UTF-8"?>

<handlers>
    <add name="iisnode" path="serverCP.js" verb="*" modules="iisnode"/>
</handlers>

<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="/serverCP.js" />
    </rule>
  </rules>
</rewrite>

<configuration>
    <security>
        <requestFiltering>
            <hiddenSegments>
            <add segment="node_modules" />
            <add segment="iisnode" />
            </hiddenSegments>
        </requestFiltering>
    </security>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
